



body{
    position: relative;
    color: #ffffff;
    direction: rtl;

    background: #1F2128;
    background-image: url("/grad_img/Vector (1).png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 250px;


    font-size: 14px;


}

a{
    text-decoration: none;
}

.margin-form{
    margin: 6% auto 7% auto ;
    width: 40%;


}
input{
    position: center;
 height: 56px;
    background: #EDEDED;


}

input[type="checkbox"]{
    background:#1F2128 ;
}

button{
    width: 100%;
    height: 56px;
}

